* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(41, 12, 147);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
  padding: 1rem;
}
.input-box label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.input-box input {
  width: 95%;
  /* background-color: #ccc; */
  font-size: 1rem;
  padding: 0.4rem;
  outline: none;
}
button {
  background-color: #2196f3;
  padding: 0.8rem;
  color: #fff;
  display: block;
  width: 100%;
  margin: 0.5rem;
  border: none;
  border-radius: 10px;
}
img {
  width: 100%;
  height: 80px;
}
#error {
  color: red;
}
